<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="css/registration.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
	<div class='app__flex registration__container'>
		<div class='app__flex registration__card'>
			<div><h2>Create Account</h2></div>
			<form action="" method="POST" id="register">
				<div class='app__flex registration__info'>
					<div class='input__container'>
						<input type="text" placeholder='Full Name' name="name" required/>
						<i class="fa fa-user registration__icon"></i>
					</div>
					<div class='input__container'>
						<input type="email" placeholder='Email' name="email" required/>
						<i class="fa fa-envelope registration__icon"></i>
					</div>
					<div class='input__container'>
						<input type="password" placeholder='Password' name="password" required/>
						<i class="fa fa-lock registration__icon"></i>
					</div>
					<div class='input__container'>
						<input type="password" placeholder='Confirm Password' name="confirmPassword" required/>
						<i class="fa fa-shield registration__icon"></i>
					</div>
				</div>
			</form>
			<div class='app__flex checking'>
				<div>
					<input type="checkbox" name="vehicle1" value="Bike" />
					<label class='text text__link'>Agree with policies</label>
				</div>
				<a href="/ForgetPassword" class='text__link'><span>Forget Password?</span></a>
			</div>
			<button class='btn__default' type="submit" value="Register" form="register">
				Create Account
			</button>
			<button class='app__flex btn__default btn__alternative'><i class="fa fa-google" aria-hidden="true"></i>Sign up with Google</button>
			<div class='reg__info'>
				<a href="/" class='text__link'>Already have an account?<span>Sign in</span></a>
			</div>
		</div>
	</div>
</body>
</html>

<%
	if(typeof message !== 'undefined') {
		%>
			<p style="color: green;"><%= message %></p>
		<%
	}
%>